<section class="cart-show">

  <header class="page-header">
    <h1>Thanks for your order!</h1>
  </header>

  <div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th colspan="2">Product</th>

        <th>Quantity</th>
        <th>Price</th>
      </tr>
      </thead>
      <tbody>
      <% @order.line_items.each do |line_item| %>

          <% product = Product.find(line_item.product_id) %>

          <tr> <%= render 'line_item', line_item: line_item, product: product %></tr>
      <% end %>
      </tbody>
      <tfoot>
      <tr>
        <th colspan="4">
          TOTAL:

          <%= @order.total %>

        </th>

ß
      </tr>
      </tfoot>
    </table>
  </div>

</section>